

@font-face {
    font-family: "audi-extendedbold";
    src: url("https://cdn.flashtalking.com/108237/fonts/auditype-extendedbold.woff") format("woff");
}

@font-face {
    font-family: "audi-normal";
    src: url("https://cdn.flashtalking.com/108237/fonts/AudiTypeScreenNormal.woff") format("woff");
}